body {
    font-family: 'VT323', monospace;
    font-size: 1.2em;
    background: linear-gradient(90deg, rgb(197, 23, 23), white);
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Buscador */
body div:first-child {
    width: 100%;
    margin: 1% 0 1% 0;
    display: flex;
    flex-direction: row-reverse;
    
}
#new-search {
    color: white;
    background-color: black;
} 
#new-search, #searchBtn {
    height: 20%;
    align-self: center;
    margin-left: 5px;
}
 

/*contenido*/
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.element-type {
    justify-content: flex-end;
} 

#pokeImg {
    width: 300px;
    height: 250px;
    border-radius: 5px;
    margin: 5% 0 5% 0;
} 
.description {
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* sider */
.right-sider {
    display: flex;
    flex-direction: column;
    width: 40%
} 
.right-sider > p {
    color: white;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
    
    border-left: 30px solid transparent;
    border-bottom: 30px solid rgb(197, 23, 23);
    height: 0;
    line-height: 50px;
} 