body {
    font-family: 'VT323', monospace;
    font-size: 20px;
    background: linear-gradient(90deg, rgb(197, 23, 23), white);
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Buscador */
body .navy-search {
    width: 100%;
    margin: 3% 7% 1% 0;
    display: flex;
    flex-direction: row-reverse;
    
}
#new-search {
    font-size: 1.5rem;
    color: white;
    background-color: black;
} 
#new-search, #searchBtn {
    
    align-self: center;
    margin-left: 5px;
}
#searchBtn {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
}

/*contenido*/
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 54%;

    /* background-color: rgba(0, 140, 255, 0.527);
    border-left: 20px solid black;
    border-top: 20px solid white;
    border-right: 20px solid; */

}
div .element-type {
    color: white;
    justify-content: flex-end;
    margin-right: 239px;
    margin-bottom: auto;
    font-size: 1.3em;
    border-bottom: 40px solid rgb(46, 42, 42);
    border-right: 40px solid transparent;
    height: 0;
    width: 150px;
    line-height: 0;
} 

#pokeImg {
    width: 400px;
    height: 300px;
    border-radius: 5px;
    margin: 0 0 5% 0;
    background-color: rgb(46, 42, 42);
     
    border-bottom: 30px solid rgba(118, 198, 235, 0.822);
    border-right: 30px solid rgb(56, 91, 114);

    z-index: 0;
} 
.description {
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#poke-name-id {
    margin: 20px 2px;
}
#poke-description {
    border: 2px white solid;
    padding: 2%;
}
/* sider */
.right-sider {
    display: flex;
    flex-direction: column;
    width: 40%
} 
.right-sider > p {
    color: white;
    
    padding: 10px;
    font-weight: bold;
    
    border-left: 30px solid transparent;
    border-bottom: 30px solid rgb(197, 23, 23);
    height: 0;
    line-height: 50px;
    z-index: 1
} 